*
{
    margin: 0;
    padding: 0;
}

body
{
    font: 12px Arial, Tahoma;
    color: #fff;
}

img
{
    border: 0;
}

a, a:link, a:visited
{
    text-decoration: none;
    outline: 0;
    color: #F47A22;
}

a:hover
{
    text-decoration: underline;
}

ul
{
    list-style: none;
}

header, footer, section, article, aside, hgroup, nav
{
    display: block;
}

.button::-moz-focus-inner
{
    border:0;
    padding:0;
} /* To remove extra padding from input button... .button is the class name of the input button */


.clr
{
    clear: both;
}

.fl
{
    float: left;
}

.fr
{
    float: right;
}

.null
{
    line-height: 0;
    font-size: 0;
}



header, footer {
    background: #292929;
    background: -moz-linear-gradient(top, #444444, #292929);
            background: -webkit-linear-gradient(top, #444444, #292929);
                    background: -ms-linear-gradient(top, #444444, #292929);
                            background: -o-linear-gradient(top, #444444, #292929);
    padding: 15px 0;
}

footer {
    text-align: right;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 15px 20px;
    background: #2e2e2e;
    border-radius: 5px;
    text-shadow: 0 1px 1px #999;
}

.logo a, .logo a:link, .logo a:visited {
    color:#fff;
    text-decoration: none;
}

.top-right {
    padding: 6px 0 0;
    line-height: 24px;
    text-align: right;
}

.user {
    padding: 0 6px 0 0;
    font-weight: bold;
    text-transform: capitalize;
}

.logout {
    padding: 0 0 0 6px;
}

.year {
    color: #fcffa8;
    font-weight: bold;
    padding: 0 6px;
}

.content {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #333333;
}

nav {
    float: left;
    width: 100% !important;
    margin: 0 0 15px !important;
    padding: 0 !important;
}

.nav-header {
    padding: 7px 10px;
    font-weight: bold;
    font-size: 13px;
    background: #d5d5d5;
    margin: 0 0 1px;
    cursor: pointer;
}

.nav-header:first-child {
    border-radius: 5px 5px 0 0;
}

.nav-header:last-child {
    border-radius: 0 0 5px 5px;
}

.nav-content {
    
}

.nav-content ul {
    margin: 0;
}

.nav-content li a, .nav-content li a:link, .nav-content li a:visited {
    display: block;
    padding: 5px 10px;
    background: #f8f8f8;
    margin: 0 0 1px 0;
    color: #636363;
    text-decoration: none;
}

.nav-content li a:hover, .nav-content li.active a {
    background: #f0f0f0;
}


.right-content {
    line-height: 20px;
}

.content h1, .content h2 {
    margin: 0;
}

.content h1 {
    font-size: 25px;
    padding: 0 0 8px;
    margin: 0 0 15px;
    border-bottom: 1px solid #ebebeb;
    line-height: normal;
}

.content h2 {
    font-size: 18px;
    margin: 0 0 5px;
    line-height: normal;
}

.login {
    margin: 30px auto;
    width: 30%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    box-shadow: 1px 1px 1px 0 #efefef;
}

.home-features li{
    list-style-type: disc;
    margin: 1px 11px;
}

.bg-primary, .bg-success, .bg-info, .bg-warning, .bg-danger {
    padding: 10px;
    font-weight: bold;
}

.bg-danger {
    background-color: #FF6347;
    color: #fff;
}

.navbar-toggle {
    background: #2a2a2a;
    float: left;
}

.navbar-toggle .icon-bar {
    background: #fff;
}

.right-padding{
    padding: 0 20px 0 0;
}

.table-bordered tr th{
    background-color: #f8f8f8;
}
.table-bordered tr th, .table-bordered tr td{
    padding: 5px; 
}

.btn, .btn:link, .btn:visited, .btn:hover {
    color: #fff;
    text-decoration: none;
}

.btn-default, .btn-default:link, .btn-default:visited, .btn-default:hover {
    color: #000;
}

.page-nav-div {
    width: 80%;
    padding: 0px 0px 0px 5px;
    color: #333;
}

.page-navs:link, .page-navs:visited {
    font-weight: bold;
    text-decoration: none;
}

.page-navs:hover {
    font-weight: bold;
    text-decoration: none;
}

.page-current {
    font-weight: bold;
    text-decoration: underline;
}

.page-pipe {
    font-weight: bold;
    padding: 0 4px;
}

.list-area {
    width: 80%;
}

.list-area .btn-add-right {
    float: right;
    margin-bottom: 10px;
}

.form-area {
    width: 80%;
}

.details-view-area {
    width: 80%;
}

.details-view-area .row {
    padding: 5px 0;
    margin-left: 0px;
}

.details-view-area .row .dva-left {
    padding: 3px 7px;
    font-weight: bold;
    background-color: #f4f4f4;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.details-view-area .row .dva-right {
    padding: 3px 7px;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
}

.ptop-row, .pbottom-row {
    margin-left: 0px !important;
    
}

.ptop-row {
    width: 85%;
    padding: 30px 10px;
    border: 1px solid #ccc;
}

.ptop-row .pull-left{
    width: 33%;
}

.ptop-row .pull-left label {
    padding-left: 25px;
    padding-right: 5px;
}

.pbottom-row {
    width: 55%;
    padding: 0 0 10px 0;
    border: 1px solid #ccc;
}

.pbottom-row .btn-danger {
    margin-top: 30px;
}

.psubmit-row .btn-default {
    margin-left: 305px !important;
}

.psubmit-row .btn-success {
    margin-left: 15px !important;
    margin-top: 40px !important;
}

#invoiceForm .ptop-row {
    width: 100%;
    padding: 20px 20px 30px 20px !important;
}

#invoiceForm .ptop-row label {
    padding: 0px;
}

#invoiceForm .psubmit-row .btn-default {
    float: right;
    margin-left: 0px;
    margin-right: 15px;
}

#invoiceForm .psubmit-row .btn-success {
   margin-top: 10px !important;
}

#invoiceForm .pbottom-row-subtotal {
    padding: 20px;
}

#invoiceForm .pbottom-row-subtotal .clearfix {
   margin: 10px; 
}

#invoiceForm .pbottom-row-subtotal label {
    float: left;
    margin-right: 10px;
    line-height: 30px;
}

#invoiceForm .pbottom-row-subtotal input {
    float: left;
    width: 130px;
}

#invoiceForm .pbottom-row {
    width: 100%;
}

input.error { 
    border: 1px solid red; 
}

label.error {
    color: red;
    font-style: italic
}

table .tbl-total{
    background-color: #ccc;
    font-weight: bold;
}

table .text-right{
    text-align: right;
}