*
{
	margin: 0;
	padding: 0;
}

body
{
	font: 12px Arial, Tahoma;
	color: #fff;
}

img
{
	border: 0;
}

a, a:link, a:visited
{
	text-decoration: none;
	outline: 0;
	color: #ff8827;
}

a:hover
{
	text-decoration: underline;
}

ul
{
	list-style: none;
}

header, footer, section, article, aside, hgroup, nav
{
	display: block;
}

.button::-moz-focus-inner
{
	border:0;
	padding:0;
} /* To remove extra padding from input button... .button is the class name of the input button */









.clr
{
	clear: both;
}

.fl
{
	float: left;
}

.fr
{
	float: right;
}

.null
{
	line-height: 0;
	font-size: 0;
}








header, footer {
	background: #292929;
	background: -moz-linear-gradient(top, #444444, #292929);
		background: -webkit-linear-gradient(top, #444444, #292929);
			background: -ms-linear-gradient(top, #444444, #292929);
				background: -o-linear-gradient(top, #444444, #292929);
	padding: 15px 0;
}

footer {
	text-align: right;
}

.logo {
	font-size: 24px;
	font-weight: bold;
	padding: 15px 20px;
	background: #2e2e2e;
	border-radius: 5px;
	text-shadow: 0 1px 1px #999;
}

.top-right {
	padding: 6px 0 0;
	line-height: 24px;
	text-align: right;
}

.user {
	padding: 0 6px 0 0;
	font-weight: bold;
}

.logout {
	padding: 0 0 0 6px;
}

.year {
	color: #fcffa8;
	font-weight: bold;
	padding: 0 6px;
}

.content {
	padding-top: 25px;
	padding-bottom: 25px;
	color: #333333;
}

nav {
	float: left;
	width: 20%;
}

.nav-header {
	padding: 7px 10px;
	font-weight: bold;
	font-size: 13px;
	background: #d5d5d5;
	margin: 0 0 1px;
	cursor: pointer;
}

.nav-header:first-child {
	border-radius: 5px 5px 0 0;
}

.nav-header:last-child {
	border-radius: 0 0 5px 5px;
}

.nav-content {
	padding: 5px 0;
}

.nav-content ul {
	margin: 0;
}

.nav-content li a, .nav-content li a:link, .nav-content li a:visited {
	display: block;
	padding: 5px 10px;
	background: #f8f8f8;
	margin: 0 0 1px 0;
	color: #636363;
	text-decoration: none;
}

.nav-content li a:hover, .nav-content li.active a {
	background: #f0f0f0;
}

aside {
	float: right;
	width: 80%;
	padding: 0 25px;
}

.right-content {
	line-height: 20px;
}

aside h1, aside h2 {
	margin: 0;
}

aside h1 {
	font-size: 25px;
	padding: 0 0 8px;
	margin: 0 0 15px;
	border-bottom: 1px solid #ebebeb;
	line-height: normal;
}

aside h2 {
	font-size: 18px;
	margin: 0 0 5px;
	line-height: normal;
}

.login {
	margin: 30px auto;
	width: 30%;
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #e6e6e6;
	box-shadow: 1px 1px 1px 0 #efefef;
}


















